---
import { getCollection } from 'astro:content'
import Layout from '../layouts/Layout.astro'

const packages = await getCollection('packages')
---

<Layout title="// TODO(HiDeoo) ">
  <h1>HiDeoo's packages</h1>
  <ul>
    {
      packages.map(({ data, id }) => (
        <li>
          <a href={`/pkg/${id}/`}>
            <code>{data.package.name}</code>
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
